<link rel="stylesheet" href="styles/style.css" />

<footer class="footer">
    <div class="footer-div-principal">
        <div class="footer-div-principal-superior">
            <div class="footer-div-principal-superior-esquerda">
                <h1>IoT HOSPITALAR</h1>
                <p>
                    O projeto IoT Hospitalar, desenvolvido no IFPE Campus Palmares, tem
                    como principal objetivo integrar a tecnologia da Internet das Coisas
                    (IoT) ao ambiente hospitalar, promovendo soluções inovadoras e
                    acessíveis para a área da saúde.
                </p>
                <p>
                    A iniciativa busca desenvolver protótipos e sistemas inteligentes
                    capazes de monitorar, automatizar e otimizar processos hospitalares —
                    desde o acompanhamento de pacientes até o controle de equipamentos e
                    ambientes. Utilizando sensores, microcontroladores e plataformas
                    conectadas à internet, os alunos e professores envolvidos no projeto
                    unem conhecimentos em eletrônica, programação e saúde pública para
                    criar tecnologias que impactam diretamente o bem-estar e a eficiência
                    dos atendimentos médicos.
                </p>
            </div>
            <div></div>
            <div></div>
        </div>
        <div class="footer-div-principal-inferior">
            <p style="margin: auto">© 2025 - Todos os direitos reservados</p>
        </div>
    </div>
</footer>
