<link rel="stylesheet" href="styles/style.css" />

<nav class="navbar">   
    <div class="navbar-conteudo">
        <a class="navbar-logo-img" href="login.html">
            <img src="src/iot-hospitalar-extended.png" alt="Logotipo" height="40px">
        </a>
        <ul class="navbar-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="projetos.html">Publicações</a></li>
            <li><a href="contato.html">Contato</a></li>
            <li><a href="participants.html">Participantes</a></li>
            <li><a href="sobre.html">Sobre</a></li>
        </ul>
    </div>
</nav>