body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f0f2f5;
  padding: 20px;
}

#projeto-container {
  max-width: 800px;
  min-height: 80vh;
  margin: auto;
  background: white;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.projeto-card img {
  max-width: 100%;
  margin: 20px 0;
  border-radius: 10px;
}

h1 {
  max-width: 100%;
  margin: 0 auto 20px auto;
  color: #005c00;
  font-size: 1.8rem;
  overflow-wrap: break-word;
}

p {
  max-width: 100%;
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  overflow-wrap: break-word;
}

.botao-download {
  display: inline-block;
  margin-top: 20px;
  background: #008607;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  word-break: break-word;
}

.botao-download:hover {
  background: #005c00;
}

.voltar {
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border: 1px solid #008607;
  text-decoration: none;
  color: #008607;
  margin: 0 0 0 10px;
}

.voltar:hover {
  font-weight: 900;
  background-color: #008607;
  color: #f5f5f5;
  transition: ease-in-out 0.1s;
}